.modal-header {
    background: #47c9a2;
    position: relative;
    text-align: center;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.modal-header-changes {
    background: #c94747;
    position: relative;
    text-align: center;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body p {
    margin: 0;
}

.modal-footer {
    border: none;
    display: flex;
    justify-content: center;
}
