.modal-header {
    background-color: #47c9a2;
    height: 71px;
    border-radius: 0;
}

.modal-header-changes,
.modal-header-danger {
    background-color: #c94747;
    height: 71px;
    border-radius: 0;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body p {
    margin: 0;
}

.modal-footer {
    border: none;
    display: flex;
    justify-content: center;
}

::ng-deep .modal-content {
    border-radius: 0 !important;
}
